.main-login {
  flex-grow: 1;
  font-family: "Lexend", sans-serif;
}

.main-login h2 {
  font-size: 50px;
}

.main-login .circle-4 {
  left: 30%;
}

.main-login .circle-1 {
  width: 60px;
  top: 100px;
}

.main-login .input-login::placeholder {
  color: #898989;
}

.main-login .btn-login {
  background-color: #edc74c;
}

.main-login .aggrement-login {
  font-size: 12px;
}

.main-login .error {
  color: red;
  font-size: 12px;
}
